.main{
  display: flex;
  // min-height: 800px;
  .left{
    width: 80%;
    position: relative;
    background-image: url('https://littlealchemy.com/img/workspace-background.png');
    img {
      // width: 80px;
      
      position: absolute;
      top: 300px;
     }
  }
  .right_container {
    width: 20%;
    background-image: url('https://littlealchemy.com/img/library-background.png');
    display: flex;
    .alphabet{
      color: #938671;
      text-align: center;
      height: 100vh;
      overflow-y: scroll; 
      border-right: 1px solid #fffcfc;
      ol{
        list-style: none;
        padding: 0px;
        width: 40px;
        li{
          padding: 6px 0;
          font-size: 18px;
          cursor: pointer;
        }
      }
    
    }
    .right{
      display: flex;
      height: 100vh;
      overflow-y: scroll; 
      flex-direction: column; 
      margin-left: 10px;
      background-image: url('https://littlealchemy.com/img/library-background.png');
      img {
        position: unset ;
      //  width: 80px;
      
      }
      div{
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
        align-items: center;
        justify-content: left;
        p{
          color: #938671;
          font-size: 18px;
        }
      }
  
    }
  }
  
}
.absolute {
  position: absolute;
}
